# Assignment 4
## Description
In this assignment you must read in a file of metropolitan regions and associated sports teams from [assets/wikipedia_data.html](assets/wikipedia_data.html) and answer some questions about each metropolitan region. Each of these regions may have one or more teams from the "Big 4": NFL (football, in [assets/nfl.csv](assets/nfl.csv)), MLB (baseball, in [assets/mlb.csv](assets/mlb.csv)), NBA (basketball, in [assets/nba.csv](assets/nba.csv) or NHL (hockey, in [assets/nhl.csv](assets/nhl.csv)). Please keep in mind that all questions are from the perspective of the metropolitan region, and that this file is the "source of authority" for the location of a given sports team. Thus teams which are commonly known by a different area (e.g. "Oakland Raiders") need to be mapped into the metropolitan region given (e.g. San Francisco Bay Area). This will require some human data understanding outside of the data you've been given (e.g. you will have to hand-code some names, and might need to google to find out where teams are)!

For each sport I would like you to answer the question: **what is the win/loss ratio's correlation with the population of the city it is in?** Win/Loss ratio refers to the number of wins over the number of wins plus the number of losses. Remember that to calculate the correlation with [`pearsonr`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.pearsonr.html), so you are going to send in two ordered lists of values, the populations from the wikipedia_data.html file and the win/loss ratio for a given sport in the same order. Average the win/loss ratios for those cities which have multiple teams of a single sport. Each sport is worth an equal amount in this assignment (20%\*4=80%) of the grade for this assignment. You should only use data **from year 2018** for your analysis -- this is important!

## Notes

1. Do not include data about the MLS or CFL in any of the work you are doing, we're only interested in the Big 4 in this assignment.
2. I highly suggest that you first tackle the four correlation questions in order, as they are all similar and worth the majority of grades for this assignment. This is by design!
3. It's fair game to talk with peers about high level strategy as well as the relationship between metropolitan areas and sports teams. However, do not post code solving aspects of the assignment (including such as dictionaries mapping areas to teams, or regexes which will clean up names).
4. There may be more teams than the assert statements test, remember to collapse multiple teams in one city into a single value!

## Question 1
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NHL** using **2018** data.

### test

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

In [15]:
def clean_nhl_df():
    # load data
    nhl_df=pd.read_csv("assets/nhl.csv")
    cities=pd.read_html("assets/wikipedia_data.html")[1]
    cities=cities.iloc[:-1,[0,3,5,6,7,8]]

    # cleaning the cities dataframe
    cities["NHL"] = cities["NHL"].apply(lambda x: re.sub(r"\[.+\]", "", x))
    cities["NHL"] = cities["NHL"].replace({"RangersIslandersDevils": "Rangers,Islanders,Devils",
                                           "KingsDucks": "Kings,Ducks",
                                           "Red Wings": "Red,Wings",
                                           "Maple Leafs": "Maple,Leafs",
                                           "Blue Jackets": "Blue,Jackets",
                                           "Golden Knights": "Golden,Knights" })
    cities["NHL"] = cities["NHL"].apply(lambda x: x.split(","))
    cities = cities.explode("NHL")

    # cleaning the nhl_df dataframe
    nhl_df = nhl_df[nhl_df["year"] == 2018]
    nhl_df["team"] = nhl_df["team"].apply(lambda x: x.replace("*", ""))
    nhl_df["team"] = nhl_df["team"].apply(lambda x: x.split(" ")[-1])

    # merge the dataframes
    df = pd.merge(cities, nhl_df, left_on="NHL", right_on="team")
    df = df[["Metropolitan area", "Population (2016 est.)[8]", "NHL", "team", "W", "L"]]
    df["W-L%"] = df["W"].astype("int")/(df["W"].astype("int") + df["L"].astype("int"))
    df["Population (2016 est.)[8]"] = df["Population (2016 est.)[8]"].astype("float")
    df["W-L%"] = df["W-L%"].astype("float")

    # drop duplicated columns
    df.loc[df["Metropolitan area"] == "New York City", "W-L%"] = 0.5182013333333334 # mean of NY W-L%
    df.loc[df["Metropolitan area"] == "Los Angeles", "W-L%"] = 0.6228945 # mean of LA W-L%
    df = df.drop_duplicates(subset="Metropolitan area").reset_index()
    df = df.drop(columns="index")

    return df
def nhl_correlation():
    # YOUR CODE HERE
    #     raise NotImplementedError()
    df = clean_nhl_df()

    population_by_region = df["Population (2016 est.)[8]"] # pass in metropolitan area population from cities
    win_loss_by_region = df["W-L%"] # pass in win/loss ratio from nhl_df in the same order as cities["Metropolitan area"]

    assert len(population_by_region) == len(win_loss_by_region), "Q1: Your lists must be the same length"
    assert len(population_by_region) == 28, "Q1: There should be 28 teams being analysed for NHL"

    result = stats.pearsonr(population_by_region, win_loss_by_region)

    return result[0]
nhl_correlation()

AssertionError: Q1: There should be 28 teams being analysed for NHL

In [4]:
cities['NHL']

0     Rangers Islanders Devils[note 3]
1                          Kings Ducks
2                       Sharks[note 7]
3                           Blackhawks
4                                Stars
5                             Capitals
6                      Flyers[note 13]
7                               Bruins
8                        Wild[note 16]
9                   Avalanche[note 18]
10                            Panthers
11                             Coyotes
12                           Red Wings
13                         Maple Leafs
14                                   —
15                           [note 25]
16                           Lightning
17                   Penguins[note 28]
18                           [note 32]
19                           [note 34]
20                                   —
21                           [note 39]
22                      Blues[note 43]
23                                   —
24                                   —
25                                   —
26                           Predators
27                                   —
28                                   —
29                              Sabres
30                           Canadiens
31                             Canucks
32                                   —
33                                   —
34                        Blue Jackets
35                              Flames
36                            Senators
37                              Oilers
38                                   —
39                       Jets[note 61]
40                                   —
41                                   —
42                                   —
43                      Golden Knights
44                                   —
45                                   —
46                                   —
47                          Hurricanes
48                                   —
49                           [note 71]
50                                   —
Name: NHL, dtype: object

In [5]:
Big4='NHL'

team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
# NHLt = cities['NHL'].str.extract('([A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*)')
# why [A-Z] or [A-Z]{1,1} did not work?
team['Metropolitan area']=cities['Metropolitan area']
team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
team=pd.merge(team,cities,how='left',on = 'Metropolitan area').iloc[:,1:4]
team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
team

         Metropolitan area               team  Population
0            New York City  Rangers Islanders    20153634
1              Los Angeles        Kings Ducks    13310447
2   San Francisco Bay Area             Sharks     6657982
3                  Chicago         Blackhawks     9512999
4        Dallas–Fort Worth              Stars     7233323
5         Washington, D.C.           Capitals     6131977
6             Philadelphia             Flyers     6070500
7                   Boston             Bruins     4794447
8   Minneapolis–Saint Paul               Wild     3551036
9                   Denver          Avalanche     2853077
10   Miami–Fort Lauderdale           Panthers     6066387
11                 Phoenix            Coyotes     4661537
12                 Detroit          Red Wings     4297617
13                 Toronto        Maple Leafs     5928040
14          Tampa Bay Area          Lightning     3032171
15              Pittsburgh           Penguins     2342299
16               St. Louis              Blues     2807002
17               Nashville          Predators     1865298
18                 Buffalo             Sabres     1132804
19                Montreal          Canadiens     4098927
20               Vancouver            Canucks     2463431
21                Columbus       Blue Jackets     2041520
22                 Calgary             Flames     1392609
23                  Ottawa           Senators     1323783
24                Edmonton             Oilers     1321426
25                Winnipeg               Jets      778489
26               Las Vegas     Golden Knights     2155664
27                 Raleigh         Hurricanes     1302946
28           New York City             Devils    20153634

In [8]:
nhl_df=pd.read_csv("assets/nhl.csv")
nhl_df = nhl_df[nhl_df['year'] == 2018]
nhl_df['team'] = nhl_df['team'].str.replace('*',"")
nhl_df = nhl_df[['team','W','L']]

In [10]:
dropList=[]
for i in range(nhl_df.shape[0]):
    row=nhl_df.iloc[i]
    if row['team']==row['W'] and row['L']==row['W']:
#         print(row['team'],'will be dropped!')
        dropList.append(i)
nhl_df=nhl_df.drop(dropList)
# nhl_df['team'] = nhl_df['team'].str.extract('(?:[A-Z][a-z]*)(.*)')
nhl_df['team'] = nhl_df['team'].str.replace('[\w.]*\ ','')
# nhl_df['team'] = nhl_df['team'].str.replace('.','')
nhl_df = nhl_df.astype({'team': str,'W': int, 'L': int})
nhl_df['WLRatio'] = nhl_df['W']/(nhl_df['W']+nhl_df['L'])
print(nhl_df.shape)
nhl_df

(31, 4)

                     team   W   L   WLRatio
1     Tampa Bay Lightning  54  23  0.701299
2           Boston Bruins  50  20  0.714286
3     Toronto Maple Leafs  49  26  0.653333
4        Florida Panthers  44  30  0.594595
5       Detroit Red Wings  30  39  0.434783
6      Montreal Canadiens  29  40  0.420290
7         Ottawa Senators  28  43  0.394366
8          Buffalo Sabres  25  45  0.357143
10    Washington Capitals  49  26  0.653333
11    Pittsburgh Penguins  47  29  0.618421
12    Philadelphia Flyers  42  26  0.617647
13  Columbus Blue Jackets  45  30  0.600000
14      New Jersey Devils  44  29  0.602740
15    Carolina Hurricanes  36  35  0.507042
16     New York Islanders  35  37  0.486111
17       New York Rangers  34  39  0.465753
19    Nashville Predators  53  18  0.746479
20          Winnipeg Jets  52  20  0.722222
21         Minnesota Wild  45  26  0.633803
22     Colorado Avalanche  43  30  0.589041
23        St. Louis Blues  44  32  0.578947
24           Dallas Stars  42  32  0.567568
25     Chicago Blackhawks  33  39  0.458333
27   Vegas Golden Knights  51  24  0.680000
28          Anaheim Ducks  44  25  0.637681
29        San Jose Sharks  45  27  0.625000
30      Los Angeles Kings  45  29  0.608108
31         Calgary Flames  37  35  0.513889
32        Edmonton Oilers  36  40  0.473684
33      Vancouver Canucks  31  40  0.436620
34        Arizona Coyotes  29  41  0.414286

In [11]:
team['team']=team['team'].str.replace('[\w]*\ ','')
team['team'].shape

(29,)

In [12]:
merge=pd.merge(team,nhl_df,'outer', on = 'team')
print(merge.shape)
merge

(60, 6)

,Metropolitan area,team,Population,W,L,WLRatio
0,New York City,Rangers Islanders,20153634.0,NaN,NaN,NaN
1,Los Angeles,Kings Ducks,13310447.0,NaN,NaN,NaN
2,San Francisco Bay Area,Sharks,6657982.0,NaN,NaN,NaN
3,Chicago,Blackhawks,9512999.0,NaN,NaN,NaN
4,Dallas–Fort Worth,Stars,7233323.0,NaN,NaN,NaN
5,"Washington, D.C.",Capitals,6131977.0,NaN,NaN,NaN
6,Philadelphia,Flyers,6070500.0,NaN,NaN,NaN
7,Boston,Bruins,4794447.0,NaN,NaN,NaN
8,Minneapolis–Saint Paul,Wild,3551036.0,NaN,NaN,NaN
9,Denver,Avalanche,2853077.0,NaN,NaN,NaN
10,Miami–Fort Lauderdale,Panthers,6066387.0,NaN,NaN,NaN
11,Phoenix,Coyotes,4661537.0,NaN,NaN,NaN
12,Detroit,Red Wings,4297617.0,NaN,NaN,NaN
13,Toronto,Maple Leafs,5928040.0,NaN,NaN,NaN
14,Tampa Bay Area,Lightning,3032171.0,NaN,NaN,NaN
15,Pittsburgh,Penguins,2342299.0,NaN,NaN,NaN
16,St. Louis,Blues,2807002.0,NaN,NaN,NaN
17,Nashville,Predators,1865298.0,NaN,NaN,NaN
18,Buffalo,Sabres,1132804.0,NaN,NaN,NaN
19,Montreal,Canadiens,4098927.0,NaN,NaN,NaN
20,Vancouver,Canucks,2463431.0,NaN,NaN,NaN
21,Columbus,Blue Jackets,2041520.0,NaN,NaN,NaN
22,Calgary,Flames,1392609.0,NaN,NaN,NaN
23,Ottawa,Senators,1323783.0,NaN,NaN,NaN
24,Edmonton,Oilers,1321426.0,NaN,NaN,NaN
25,Winnipeg,Jets,778489.0,NaN,NaN,NaN
26,Las Vegas,Golden Knights,2155664.0,NaN,NaN,NaN
27,Raleigh,Hurricanes,1302946.0,NaN,NaN,NaN
28,New York City,Devils,20153634.0,NaN,NaN,NaN
29,NaN,Tampa Bay Lightning,NaN,54.0,23.0,0.701299
30,NaN,Boston Bruins,NaN,50.0,20.0,0.714286
31,NaN,Toronto Maple Leafs,NaN,49.0,26.0,0.653333
32,NaN,Florida Panthers,NaN,44.0,30.0,0.594595
33,NaN,Detroit Red Wings,NaN,30.0,39.0,0.434783
34,NaN,Montreal Canadiens,NaN,29.0,40.0,0.420290
35,NaN,Ottawa Senators,NaN,28.0,43.0,0.394366
36,NaN,Buffalo Sabres,NaN,25.0,45.0,0.357143
37,NaN,Washington Capitals,NaN,49.0,26.0,0.653333
38,NaN,Pittsburgh Penguins,NaN,47.0,29.0,0.618421
39,NaN,Philadelphia Flyers,NaN,42.0,26.0,0.617647
40,NaN,Columbus Blue Jackets,NaN,45.0,30.0,0.600000
41,NaN,New Jersey Devils,NaN,44.0,29.0,0.602740
42,NaN,Carolina Hurricanes,NaN,36.0,35.0,0.507042
43,NaN,New York Islanders,NaN,35.0,37.0,0.486111
44,NaN,New York Rangers,NaN,34.0,39.0,0.465753
45,NaN,Nashville Predators,NaN,53.0,18.0,0.746479
46,NaN,Winnipeg Jets,NaN,52.0,20.0,0.722222
47,NaN,Minnesota Wild,NaN,45.0,26.0,0.633803
48,NaN,Colorado Avalanche,NaN,43.0,30.0,0.589041
49,NaN,St. Louis Blues,NaN,44.0,32.0,0.578947
50,NaN,Dallas Stars,NaN,42.0,32.0,0.567568
51,NaN,Chicago Blackhawks,NaN,33.0,39.0,0.458333
52,NaN,Vegas Golden Knights,NaN,51.0,24.0,0.680000
53,NaN,Anaheim Ducks,NaN,44.0,25.0,0.637681
54,NaN,San Jose Sharks,NaN,45.0,27.0,0.625000
55,NaN,Los Angeles Kings,NaN,45.0,29.0,0.608108
56,NaN,Calgary Flames,NaN,37.0,35.0,0.513889
57,NaN,Edmonton Oilers,NaN,36.0,40.0,0.473684
58,NaN,Vancouver Canucks,NaN,31.0,40.0,0.436620
59,NaN,Arizona Coyotes,NaN,29.0,41.0,0.414286

In [9]:
merge=merge.groupby('Metropolitan area').agg({'WLRatio': np.nanmean, 'Population': np.nanmean})
print(merge.shape)
merge

(28, 2)

                         WLRatio  Population
Metropolitan area
Boston                  0.714286     4794447
Buffalo                 0.357143     1132804
Calgary                 0.513889     1392609
Chicago                 0.458333     9512999
Columbus                0.600000     2041520
Dallas–Fort Worth       0.567568     7233323
Denver                  0.589041     2853077
Detroit                 0.434783     4297617
Edmonton                0.473684     1321426
Las Vegas               0.680000     2155664
Los Angeles             0.622895    13310447
Miami–Fort Lauderdale   0.594595     6066387
Minneapolis–Saint Paul  0.633803     3551036
Montreal                0.420290     4098927
Nashville               0.746479     1865298
New York City           0.518201    20153634
Ottawa                  0.394366     1323783
Philadelphia            0.617647     6070500
Phoenix                 0.414286     4661537
Pittsburgh              0.618421     2342299
Raleigh                 0.507042     1302946
San Francisco Bay Area  0.625000     6657982
St. Louis               0.578947     2807002
Tampa Bay Area          0.701299     3032171
Toronto                 0.653333     5928040
Vancouver               0.436620     2463431
Washington, D.C.        0.653333     6131977
Winnipeg                0.722222      778489

In [10]:
population_by_region = merge['Population']
win_loss_by_region = merge['WLRatio'] 

assert len(population_by_region) == len(win_loss_by_region), "Q1: Your lists must be the same length"
assert len(population_by_region) == 28, "Q1: There should be 28 teams being analysed for NHL"

stats.pearsonr(population_by_region, win_loss_by_region)

(0.012486162921209923, 0.9497182859911781)

### answer

In [11]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

cities = pd.read_html("assets/wikipedia_data.html")[1]
cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]
cities.rename(columns={"Population (2016 est.)[8]": "Population"},
              inplace=True)
cities['NFL'] = cities['NFL'].str.replace(r"\[.*\]", "")
cities['MLB'] = cities['MLB'].str.replace(r"\[.*\]", "")
cities['NBA'] = cities['NBA'].str.replace(r"\[.*\]", "")
cities['NHL'] = cities['NHL'].str.replace(r"\[.*\]", "")

Big4='NHL'

def nhl_correlation():
    # YOUR CODE HERE
    # raise NotImplementedError()
    
    team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
    team['Metropolitan area']=cities['Metropolitan area']
    team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
    team=pd.merge(team,cities,how='left',on = 'Metropolitan area').iloc[:,1:4]
    team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
    team['team']=team['team'].str.replace('[\w.]*\ ','')
    
    _df=pd.read_csv("assets/"+str.lower(Big4)+".csv")
    _df = _df[_df['year'] == 2018]
    _df['team'] = _df['team'].str.replace(r'\*',"")
    _df = _df[['team','W','L']]

    dropList=[]
    for i in range(_df.shape[0]):
        row=_df.iloc[i]
        if row['team']==row['W'] and row['L']==row['W']:
    #         print(row['team'],'will be dropped!')
            dropList.append(i)
    _df=_df.drop(dropList)

    _df['team'] = _df['team'].str.replace('[\w.]* ','')
#     _df['team'] = _df['team'].str.replace('.','')
    _df = _df.astype({'team': str,'W': int, 'L': int})
    _df['W/L%'] = _df['W']/(_df['W']+_df['L'])
    
    merge=pd.merge(team,_df,'outer', on = 'team')
    merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})
    
    population_by_region = merge['Population'] # pass in metropolitan area population from cities
    win_loss_by_region = merge['W/L%'] # pass in win/loss ratio from _df in the same order as cities["Metropolitan area"]   

    assert len(population_by_region) == len(
        win_loss_by_region), "Q1: Your lists must be the same length"
    assert len(population_by_region
               ) == 28, "Q1: There should be 28 teams being analysed for NHL"

    return stats.pearsonr(population_by_region, win_loss_by_region)[0]
nhl_correlation()

0.012486162921209923

## Question 2
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NBA** using **2018** data.

### test

In [12]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

cities = pd.read_html("assets/wikipedia_data.html")[1]
cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]
cities.rename(columns={"Population (2016 est.)[8]": "Population"},
              inplace=True)
cities['NFL'] = cities['NFL'].str.replace(r"\[.*\]", "")
cities['MLB'] = cities['MLB'].str.replace(r"\[.*\]", "")
cities['NBA'] = cities['NBA'].str.replace(r"\[.*\]", "")
cities['NHL'] = cities['NHL'].str.replace(r"\[.*\]", "")

Big4='NBA'

In [13]:
team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
team['Metropolitan area']=cities['Metropolitan area']
team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
team=pd.merge(team,cities,how='left',on = 'Metropolitan area').iloc[:,1:4]
team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
team['team']=team['team'].str.replace('[\w.]*\ ','')

team

         Metropolitan area          team  Population
0            New York City        Knicks    20153634
1              Los Angeles        Lakers    13310447
2   San Francisco Bay Area      Warriors     6657982
3                  Chicago         Bulls     9512999
4        Dallas–Fort Worth     Mavericks     7233323
5         Washington, D.C.       Wizards     6131977
6             Philadelphia         76ers     6070500
7                   Boston       Celtics     4794447
8   Minneapolis–Saint Paul  Timberwolves     3551036
9                   Denver       Nuggets     2853077
10   Miami–Fort Lauderdale          Heat     6066387
11                 Phoenix          Suns     4661537
12                 Detroit       Pistons     4297617
13                 Toronto       Raptors     5928040
14                 Houston       Rockets     6772470
15                 Atlanta         Hawks     5789700
16               Cleveland     Cavaliers     2055612
17               Charlotte       Hornets     2474314
18            Indianapolis        Pacers     2004230
19               Milwaukee         Bucks     1572482
20             New Orleans      Pelicans     1268883
21                 Orlando         Magic     2441257
22                Portland       Blazers     2424955
23          Salt Lake City          Jazz     1186187
24             San Antonio         Spurs     2429609
25              Sacramento         Kings     2296418
26           Oklahoma City       Thunder     1373211
27                 Memphis     Grizzlies     1342842
28           New York City          Nets    20153634
29             Los Angeles      Clippers    13310447

In [14]:
_df=pd.read_csv("assets/"+str.lower(Big4)+".csv")
_df = _df[_df['year'] == 2018]
# print(_df)
# print(_df.columns)
_df['team'] = _df['team'].str.replace(r'[\*]',"")
_df['team'] = _df['team'].str.replace(r'\(\d*\)',"")
_df['team'] = _df['team'].str.replace(r'[\xa0]',"")
# _df['team'] = _df['team'].str.replace(r'[\* \([\d]*\)]*',"")
_df = _df[['team','W/L%']]
# print(_df)
dropList=[]
for i in range(_df.shape[0]):
    row=_df.iloc[i]
    if row['team']==row['W/L%']:
#         print(row['team'],'will be dropped!')
        dropList.append(i)
_df=_df.drop(dropList)

_df['team'] = _df['team'].str.replace('[\w.]* ','')

_df = _df.astype({'team': str,'W/L%': float})

_df['team'].iloc[2]

_df

            team   W/L%
0        Raptors  0.720
1        Celtics  0.671
2          76ers  0.634
3      Cavaliers  0.610
4         Pacers  0.585
5           Heat  0.537
6          Bucks  0.537
7        Wizards  0.524
8        Pistons  0.476
9        Hornets  0.439
10        Knicks  0.354
11          Nets  0.341
12         Bulls  0.329
13         Magic  0.305
14         Hawks  0.293
15       Rockets  0.793
16      Warriors  0.707
17       Blazers  0.598
18       Thunder  0.585
19          Jazz  0.585
20      Pelicans  0.585
21         Spurs  0.573
22  Timberwolves  0.573
23       Nuggets  0.561
24      Clippers  0.512
25        Lakers  0.427
26         Kings  0.329
27     Mavericks  0.293
28     Grizzlies  0.268
29          Suns  0.256

In [15]:
_df['team'].iloc[1]
# team['team'].iloc[0]

'Celtics'

In [16]:
merge=pd.merge(team,_df,'outer', on = 'team')
merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})
print(merge.shape)
merge

(28, 2)

                          W/L%  Population
Metropolitan area
Atlanta                 0.2930     5789700
Boston                  0.6710     4794447
Charlotte               0.4390     2474314
Chicago                 0.3290     9512999
Cleveland               0.6100     2055612
Dallas–Fort Worth       0.2930     7233323
Denver                  0.5610     2853077
Detroit                 0.4760     4297617
Houston                 0.7930     6772470
Indianapolis            0.5850     2004230
Los Angeles             0.4695    13310447
Memphis                 0.2680     1342842
Miami–Fort Lauderdale   0.5370     6066387
Milwaukee               0.5370     1572482
Minneapolis–Saint Paul  0.5730     3551036
New Orleans             0.5850     1268883
New York City           0.3475    20153634
Oklahoma City           0.5850     1373211
Orlando                 0.3050     2441257
Philadelphia            0.6340     6070500
Phoenix                 0.2560     4661537
Portland                0.5980     2424955
Sacramento              0.3290     2296418
Salt Lake City          0.5850     1186187
San Antonio             0.5730     2429609
San Francisco Bay Area  0.7070     6657982
Toronto                 0.7200     5928040
Washington, D.C.        0.5240     6131977

In [17]:
population_by_region = merge['Population'] # pass in metropolitan area population from cities
win_loss_by_region = merge['W/L%'] # pass in win/loss ratio from _df in the same order as cities["Metropolitan area"]   
assert len(population_by_region) == len(win_loss_by_region), "Q2: Your lists must be the same length"
assert len(population_by_region) == 28, "Q2: There should be 28 teams being analysed for NBA"
stats.pearsonr(population_by_region, win_loss_by_region)[0]

-0.1763635064218294

### answer

In [18]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

cities = pd.read_html("assets/wikipedia_data.html")[1]
cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]
cities.rename(columns={"Population (2016 est.)[8]": "Population"},
              inplace=True)
cities['NFL'] = cities['NFL'].str.replace(r"\[.*\]", "")
cities['MLB'] = cities['MLB'].str.replace(r"\[.*\]", "")
cities['NBA'] = cities['NBA'].str.replace(r"\[.*\]", "")
cities['NHL'] = cities['NHL'].str.replace(r"\[.*\]", "")

Big4='NBA'

def nba_correlation():
    
    team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
    team['Metropolitan area']=cities['Metropolitan area']
    team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
    team=pd.merge(team,cities,how='left',on = 'Metropolitan area').iloc[:,1:4]
    team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
    team['team']=team['team'].str.replace('[\w.]*\ ','')

    _df=pd.read_csv("assets/"+str.lower(Big4)+".csv")
    _df = _df[_df['year'] == 2018]
    _df['team'] = _df['team'].str.replace(r'[\*]',"")
    _df['team'] = _df['team'].str.replace(r'\(\d*\)',"")
    _df['team'] = _df['team'].str.replace(r'[\xa0]',"")
    _df = _df[['team','W/L%']]
    _df['team'] = _df['team'].str.replace('[\w.]* ','')
    _df = _df.astype({'team': str,'W/L%': float})
    
    merge=pd.merge(team,_df,'outer', on = 'team')
    merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})

    population_by_region = merge['Population'] # pass in metropolitan area population from cities
    win_loss_by_region = merge['W/L%'] # pass in win/loss ratio from _df in the same order as cities["Metropolitan area"]   

    assert len(population_by_region) == len(win_loss_by_region), "Q2: Your lists must be the same length"
    assert len(population_by_region) == 28, "Q2: There should be 28 teams being analysed for NBA"

    return stats.pearsonr(population_by_region, win_loss_by_region)[0]
nba_correlation()

-0.1763635064218294

## Question 3
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **MLB** using **2018** data.

### test

In [19]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

cities = pd.read_html("assets/wikipedia_data.html")[1]
cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]
cities.rename(columns={"Population (2016 est.)[8]": "Population"},
              inplace=True)
cities['NFL'] = cities['NFL'].str.replace(r"\[.*\]", "")
cities['MLB'] = cities['MLB'].str.replace(r"\[.*\]", "")
cities['NBA'] = cities['NBA'].str.replace(r"\[.*\]", "")
cities['NHL'] = cities['NHL'].str.replace(r"\[.*\]", "")

Big4='MLB'

In [20]:
team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
team['Metropolitan area']=cities['Metropolitan area']
team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
team=pd.merge(team,cities,how='left',on = 'Metropolitan area').iloc[:,1:4]
team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
team['team']=team['team'].str.replace('\ Sox','Sox')
team['team']=team['team'].str.replace('[\w.]*\ ','')

team

         Metropolitan area          team  Population
0            New York City       Yankees    20153634
1              Los Angeles       Dodgers    13310447
2   San Francisco Bay Area        Giants     6657982
3                  Chicago          Cubs     9512999
4        Dallas–Fort Worth       Rangers     7233323
5         Washington, D.C.     Nationals     6131977
6             Philadelphia      Phillies     6070500
7                   Boston        RedSox     4794447
8   Minneapolis–Saint Paul         Twins     3551036
9                   Denver       Rockies     2853077
10   Miami–Fort Lauderdale       Marlins     6066387
11                 Phoenix  Diamondbacks     4661537
12                 Detroit        Tigers     4297617
13                 Toronto          Jays     5928040
14                 Houston        Astros     6772470
15                 Atlanta        Braves     5789700
16          Tampa Bay Area          Rays     3032171
17              Pittsburgh       Pirates     2342299
18               Cleveland       Indians     2055612
19                 Seattle      Mariners     3798902
20              Cincinnati          Reds     2165139
21             Kansas City        Royals     2104509
22               St. Louis     Cardinals     2807002
23               Baltimore       Orioles     2798886
24               Milwaukee       Brewers     1572482
25               San Diego        Padres     3317749
26           New York City          Mets    20153634
27             Los Angeles        Angels    13310447
28  San Francisco Bay Area     Athletics     6657982
29                 Chicago      WhiteSox     9512999

In [21]:
_df=pd.read_csv("assets/"+str.lower(Big4)+".csv")
_df = _df[_df['year'] == 2018]
_df['team'] = _df['team'].str.replace(r'[\*]',"")
_df['team'] = _df['team'].str.replace(r'\(\d*\)',"")
_df['team'] = _df['team'].str.replace(r'[\xa0]',"")
_df = _df[['team','W-L%']]
_df.rename(columns={"W-L%": "W/L%"},inplace=True)
_df['team']=_df['team'].str.replace('\ Sox','Sox')
_df['team'] = _df['team'].str.replace('[\w.]* ','')
_df = _df.astype({'team': str,'W/L%': float})

_df

            team   W/L%
0         RedSox  0.667
1        Yankees  0.617
2           Rays  0.556
3           Jays  0.451
4        Orioles  0.290
5        Indians  0.562
6          Twins  0.481
7         Tigers  0.395
8       WhiteSox  0.383
9         Royals  0.358
10        Astros  0.636
11     Athletics  0.599
12      Mariners  0.549
13        Angels  0.494
14       Rangers  0.414
15        Braves  0.556
16     Nationals  0.506
17      Phillies  0.494
18          Mets  0.475
19       Marlins  0.391
20       Brewers  0.589
21          Cubs  0.583
22     Cardinals  0.543
23       Pirates  0.509
24          Reds  0.414
25       Dodgers  0.564
26       Rockies  0.558
27  Diamondbacks  0.506
28        Giants  0.451
29        Padres  0.407

In [22]:
merge=pd.merge(team,_df,'outer', on = 'team')
merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})
merge = merge.astype({'W/L%':float,'Population': float})
print(merge.shape)
merge

(26, 2)

                         W/L%  Population
Metropolitan area
Atlanta                 0.556   5789700.0
Baltimore               0.290   2798886.0
Boston                  0.667   4794447.0
Chicago                 0.483   9512999.0
Cincinnati              0.414   2165139.0
Cleveland               0.562   2055612.0
Dallas–Fort Worth       0.414   7233323.0
Denver                  0.558   2853077.0
Detroit                 0.395   4297617.0
Houston                 0.636   6772470.0
Kansas City             0.358   2104509.0
Los Angeles             0.529  13310447.0
Miami–Fort Lauderdale   0.391   6066387.0
Milwaukee               0.589   1572482.0
Minneapolis–Saint Paul  0.481   3551036.0
New York City           0.546  20153634.0
Philadelphia            0.494   6070500.0
Phoenix                 0.506   4661537.0
Pittsburgh              0.509   2342299.0
San Diego               0.407   3317749.0
San Francisco Bay Area  0.525   6657982.0
Seattle                 0.549   3798902.0
St. Louis               0.543   2807002.0
Tampa Bay Area          0.556   3032171.0
Toronto                 0.451   5928040.0
Washington, D.C.        0.506   6131977.0

In [23]:
population_by_region = merge['Population'] # pass in metropolitan area population from cities
win_loss_by_region = merge['W/L%'] # pass in win/loss ratio from _df in the same order as cities["Metropolitan area"]   

assert len(population_by_region) == len(win_loss_by_region), "Q3: Your lists must be the same length"
assert len(population_by_region) == 26, "Q3: There should be 26 teams being analysed for MLB"

stats.pearsonr(population_by_region, win_loss_by_region)[0]

0.15003737475409495

### answer

In [24]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

cities = pd.read_html("assets/wikipedia_data.html")[1]
cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]
cities.rename(columns={"Population (2016 est.)[8]": "Population"},
              inplace=True)
cities['NFL'] = cities['NFL'].str.replace(r"\[.*\]", "")
cities['MLB'] = cities['MLB'].str.replace(r"\[.*\]", "")
cities['NBA'] = cities['NBA'].str.replace(r"\[.*\]", "")
cities['NHL'] = cities['NHL'].str.replace(r"\[.*\]", "")

Big4='MLB'

def mlb_correlation(): 
    
    team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
    team['Metropolitan area']=cities['Metropolitan area']
    team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
    team=pd.merge(team,cities,how='left',on = 'Metropolitan area').iloc[:,1:4]
    team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
    team['team']=team['team'].str.replace('\ Sox','Sox')
    team['team']=team['team'].str.replace('[\w.]*\ ','')

    _df=pd.read_csv("assets/"+str.lower(Big4)+".csv")
    _df = _df[_df['year'] == 2018]
    _df['team'] = _df['team'].str.replace(r'[\*]',"")
    _df['team'] = _df['team'].str.replace(r'\(\d*\)',"")
    _df['team'] = _df['team'].str.replace(r'[\xa0]',"")
    _df = _df[['team','W-L%']]
    _df.rename(columns={"W-L%": "W/L%"},inplace=True)
    _df['team']=_df['team'].str.replace('\ Sox','Sox')
    _df['team'] = _df['team'].str.replace('[\w.]* ','')
    _df = _df.astype({'team': str,'W/L%': float})
    
    merge=pd.merge(team,_df,'outer', on = 'team')
    merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})
    
    population_by_region = merge['Population'] # pass in metropolitan area population from cities
    win_loss_by_region = merge['W/L%'] # pass in win/loss ratio from _df in the same order as cities["Metropolitan area"]   

    assert len(population_by_region) == len(win_loss_by_region), "Q3: Your lists must be the same length"
    assert len(population_by_region) == 26, "Q3: There should be 26 teams being analysed for MLB"
    
    return stats.pearsonr(population_by_region, win_loss_by_region)[0]
mlb_correlation()

0.15003737475409495

## Question 4
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NFL** using **2018** data.

### test

In [25]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

cities = pd.read_html("assets/wikipedia_data.html")[1]
cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]
cities.rename(columns={"Population (2016 est.)[8]": "Population"},
              inplace=True)
cities['NFL'] = cities['NFL'].str.replace(r"\[.*\]", "")
cities['MLB'] = cities['MLB'].str.replace(r"\[.*\]", "")
cities['NBA'] = cities['NBA'].str.replace(r"\[.*\]", "")
cities['NHL'] = cities['NHL'].str.replace(r"\[.*\]", "")

Big4='NFL'

In [26]:
team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
team['Metropolitan area']=cities['Metropolitan area']
team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
team=pd.merge(team,cities,how='left',on = 'Metropolitan area').iloc[:,1:4]
team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
team['team']=team['team'].str.replace('[\w.]*\ ','')

team

         Metropolitan area        team  Population
0            New York City      Giants    20153634
1              Los Angeles        Rams    13310447
2   San Francisco Bay Area       49ers     6657982
3                  Chicago       Bears     9512999
4        Dallas–Fort Worth     Cowboys     7233323
5         Washington, D.C.    Redskins     6131977
6             Philadelphia      Eagles     6070500
7                   Boston    Patriots     4794447
8   Minneapolis–Saint Paul     Vikings     3551036
9                   Denver     Broncos     2853077
10   Miami–Fort Lauderdale    Dolphins     6066387
11                 Phoenix   Cardinals     4661537
12                 Detroit       Lions     4297617
13                 Houston      Texans     6772470
14                 Atlanta     Falcons     5789700
15          Tampa Bay Area  Buccaneers     3032171
16              Pittsburgh    Steelers     2342299
17               Cleveland      Browns     2055612
18                 Seattle    Seahawks     3798902
19              Cincinnati     Bengals     2165139
20             Kansas City      Chiefs     2104509
21               Baltimore      Ravens     2798886
22               Charlotte    Panthers     2474314
23            Indianapolis       Colts     2004230
24               Nashville      Titans     1865298
25             New Orleans      Saints     1268883
26                 Buffalo       Bills     1132804
27            Jacksonville     Jaguars     1478212
28               Green Bay     Packers      318236
29           New York City        Jets    20153634
30             Los Angeles    Chargers    13310447
31  San Francisco Bay Area     Raiders     6657982

In [27]:
_df=pd.read_csv("assets/"+str.lower(Big4)+".csv")
_df = _df[_df['year'] == 2018]
_df['team'] = _df['team'].str.replace(r'[\*]',"")
_df['team'] = _df['team'].str.replace(r'\(\d*\)',"")
_df['team'] = _df['team'].str.replace(r'[\xa0]',"")
_df = _df[['team','W-L%']]
_df.rename(columns={"W-L%": "W/L%"},inplace=True)
dropList=[]
for i in range(_df.shape[0]):
    row=_df.iloc[i]
    if row['team']==row['W/L%']:
        dropList.append(i)
_df=_df.drop(dropList)


_df['team'] = _df['team'].str.replace('[\w.]* ','')
_df['team'] = _df['team'].str.replace('+','')
_df = _df.astype({'team': str,'W/L%': float})

_df

          team   W/L%
1     Patriots  0.688
2     Dolphins  0.438
3        Bills  0.375
4         Jets  0.250
6       Ravens  0.625
7     Steelers  0.594
8       Browns  0.469
9      Bengals  0.375
11      Texans  0.688
12       Colts  0.625
13      Titans  0.563
14     Jaguars  0.313
16      Chiefs  0.750
17    Chargers  0.750
18     Broncos  0.375
19     Raiders  0.250
21     Cowboys  0.625
22      Eagles  0.563
23    Redskins  0.438
24      Giants  0.313
26       Bears  0.750
27     Vikings  0.531
28     Packers  0.406
29       Lions  0.375
31      Saints  0.813
32    Panthers  0.438
33     Falcons  0.438
34  Buccaneers  0.313
36        Rams  0.813
37    Seahawks  0.625
38       49ers  0.250
39   Cardinals  0.188

In [28]:
merge=pd.merge(team,_df,'outer', on = 'team')
merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})
print(merge.shape)
merge

(29, 2)

                          W/L%  Population
Metropolitan area
Atlanta                 0.4380     5789700
Baltimore               0.6250     2798886
Boston                  0.6880     4794447
Buffalo                 0.3750     1132804
Charlotte               0.4380     2474314
Chicago                 0.7500     9512999
Cincinnati              0.3750     2165139
Cleveland               0.4690     2055612
Dallas–Fort Worth       0.6250     7233323
Denver                  0.3750     2853077
Detroit                 0.3750     4297617
Green Bay               0.4060      318236
Houston                 0.6880     6772470
Indianapolis            0.6250     2004230
Jacksonville            0.3130     1478212
Kansas City             0.7500     2104509
Los Angeles             0.7815    13310447
Miami–Fort Lauderdale   0.4380     6066387
Minneapolis–Saint Paul  0.5310     3551036
Nashville               0.5630     1865298
New Orleans             0.8130     1268883
New York City           0.2815    20153634
Philadelphia            0.5630     6070500
Phoenix                 0.1880     4661537
Pittsburgh              0.5940     2342299
San Francisco Bay Area  0.2500     6657982
Seattle                 0.6250     3798902
Tampa Bay Area          0.3130     3032171
Washington, D.C.        0.4380     6131977

In [29]:
population_by_region = merge['Population'] # pass in metropolitan area population from cities
win_loss_by_region = merge['W/L%'] # pass in win/loss ratio from _df in the same order as cities["Metropolitan area"]   

assert len(population_by_region) == len(win_loss_by_region), "Q4: Your lists must be the same length"
assert len(population_by_region) == 29, "Q4: There should be 29 teams being analysed for NFL"
    
stats.pearsonr(population_by_region, win_loss_by_region)[0]

0.004282141436393022

### answer

In [30]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

cities = pd.read_html("assets/wikipedia_data.html")[1]
cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]
cities.rename(columns={"Population (2016 est.)[8]": "Population"},
              inplace=True)
cities['NFL'] = cities['NFL'].str.replace(r"\[.*\]", "")
cities['MLB'] = cities['MLB'].str.replace(r"\[.*\]", "")
cities['NBA'] = cities['NBA'].str.replace(r"\[.*\]", "")
cities['NHL'] = cities['NHL'].str.replace(r"\[.*\]", "")

Big4='NFL'

def nfl_correlation(): 
    team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
    team['Metropolitan area']=cities['Metropolitan area']
    team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
    team=pd.merge(team,cities,how='left',on = 'Metropolitan area').iloc[:,1:4]
    team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
    team['team']=team['team'].str.replace('[\w.]*\ ','')
    
    _df=pd.read_csv("assets/"+str.lower(Big4)+".csv")
    _df = _df[_df['year'] == 2018]
    _df['team'] = _df['team'].str.replace(r'[\*]',"")
    _df['team'] = _df['team'].str.replace(r'\(\d*\)',"")
    _df['team'] = _df['team'].str.replace(r'[\xa0]',"")
    _df = _df[['team','W-L%']]
    _df.rename(columns={"W-L%": "W/L%"},inplace=True)
    dropList=[]
    for i in range(_df.shape[0]):
        row=_df.iloc[i]
        if row['team']==row['W/L%']:
            dropList.append(i)
    _df=_df.drop(dropList)

    _df['team'] = _df['team'].str.replace('[\w.]* ','')
    _df['team'] = _df['team'].str.replace('+','')
    _df = _df.astype({'team': str,'W/L%': float})
    
    merge=pd.merge(team,_df,'outer', on = 'team')
    merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})

    population_by_region = merge['Population'] # pass in metropolitan area population from cities
    win_loss_by_region = merge['W/L%'] # pass in win/loss ratio from _df in the same order as cities["Metropolitan area"]   
    
    assert len(population_by_region) == len(win_loss_by_region), "Q4: Your lists must be the same length"
    assert len(population_by_region) == 29, "Q4: There should be 29 teams being analysed for NFL"

    return stats.pearsonr(population_by_region, win_loss_by_region)[0]

nfl_correlation()

0.004282141436393022

## Question 5
In this question I would like you to explore the hypothesis that **given that an area has two sports teams in different sports, those teams will perform the same within their respective sports**. How I would like to see this explored is with a series of paired t-tests (so use [`ttest_rel`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_rel.html)) between all pairs of sports. Are there any sports where we can reject the null hypothesis? Again, average values where a sport has multiple teams in one region. Remember, you will only be including, for each sport, cities which have teams engaged in that sport, drop others as appropriate. This question is worth 20% of the grade for this assignment.

### test

In [31]:
sports = ['NFL', 'NBA', 'NHL', 'MLB']
p_values = pd.DataFrame({k:np.nan for k in sports}, index=sports)
p_values

     NFL  NBA  NHL  MLB
NFL  NaN  NaN  NaN  NaN
NBA  NaN  NaN  NaN  NaN
NHL  NaN  NaN  NaN  NaN
MLB  NaN  NaN  NaN  NaN

In [32]:
# try to get 4 dataframe
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

cities = pd.read_html("assets/wikipedia_data.html")[1]
cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]
cities.rename(columns={"Population (2016 est.)[8]": "Population"},
              inplace=True)
cities['NFL'] = cities['NFL'].str.replace(r"\[.*\]", "")
cities['MLB'] = cities['MLB'].str.replace(r"\[.*\]", "")
cities['NBA'] = cities['NBA'].str.replace(r"\[.*\]", "")
cities['NHL'] = cities['NHL'].str.replace(r"\[.*\]", "")


def nhl_df():
    Big4='NHL'
    team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
    team['Metropolitan area']=cities['Metropolitan area']
    team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
    team=pd.merge(team,cities,how='left',on = 'Metropolitan area').iloc[:,1:4]
    team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
    team['team']=team['team'].str.replace('[\w.]*\ ','')
    
    _df=pd.read_csv("assets/"+str.lower(Big4)+".csv")
    _df = _df[_df['year'] == 2018]
    _df['team'] = _df['team'].str.replace(r'\*',"")
    _df = _df[['team','W','L']]

    dropList=[]
    for i in range(_df.shape[0]):
        row=_df.iloc[i]
        if row['team']==row['W'] and row['L']==row['W']:
            dropList.append(i)
    _df=_df.drop(dropList)

    _df['team'] = _df['team'].str.replace('[\w.]* ','')
    _df = _df.astype({'team': str,'W': int, 'L': int})
    _df['W/L%'] = _df['W']/(_df['W']+_df['L'])
    
    merge=pd.merge(team,_df,'inner', on = 'team')
    merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})  

    return merge[['W/L%']]



def nba_df():
    Big4='NBA'
    team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
    team['Metropolitan area']=cities['Metropolitan area']
    team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
    team=pd.merge(team,cities,how='left',on = 'Metropolitan area').iloc[:,1:4]
    team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
    team['team']=team['team'].str.replace('[\w.]*\ ','')

    _df=pd.read_csv("assets/"+str.lower(Big4)+".csv")
    _df = _df[_df['year'] == 2018]
    _df['team'] = _df['team'].str.replace(r'[\*]',"")
    _df['team'] = _df['team'].str.replace(r'\(\d*\)',"")
    _df['team'] = _df['team'].str.replace(r'[\xa0]',"")
    _df = _df[['team','W/L%']]
    _df['team'] = _df['team'].str.replace('[\w.]* ','')
    _df = _df.astype({'team': str,'W/L%': float})
    
    merge=pd.merge(team,_df,'outer', on = 'team')
    merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})
    return merge[['W/L%']]



def mlb_df(): 
    Big4='MLB'
    team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
    team['Metropolitan area']=cities['Metropolitan area']
    team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
    team=pd.merge(team,cities,how='left',on = 'Metropolitan area').iloc[:,1:4]
    team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
    team['team']=team['team'].str.replace('\ Sox','Sox')
    team['team']=team['team'].str.replace('[\w.]*\ ','')

    _df=pd.read_csv("assets/"+str.lower(Big4)+".csv")
    _df = _df[_df['year'] == 2018]
    _df['team'] = _df['team'].str.replace(r'[\*]',"")
    _df['team'] = _df['team'].str.replace(r'\(\d*\)',"")
    _df['team'] = _df['team'].str.replace(r'[\xa0]',"")
    _df = _df[['team','W-L%']]
    _df.rename(columns={"W-L%": "W/L%"},inplace=True)
    _df['team']=_df['team'].str.replace('\ Sox','Sox')
    _df['team'] = _df['team'].str.replace('[\w.]* ','')
    _df = _df.astype({'team': str,'W/L%': float})
    
    merge=pd.merge(team,_df,'outer', on = 'team')
    merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})

    return merge[['W/L%']]

def nfl_df(): 
    Big4='NFL'
    team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
    team['Metropolitan area']=cities['Metropolitan area']
    team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
    team=pd.merge(team,cities,how='left',on = 'Metropolitan area').iloc[:,1:4]
    team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
    team['team']=team['team'].str.replace('[\w.]*\ ','')
    
    _df=pd.read_csv("assets/"+str.lower(Big4)+".csv")
    _df = _df[_df['year'] == 2018]
    _df['team'] = _df['team'].str.replace(r'[\*]',"")
    _df['team'] = _df['team'].str.replace(r'\(\d*\)',"")
    _df['team'] = _df['team'].str.replace(r'[\xa0]',"")
    _df = _df[['team','W-L%']]
    _df.rename(columns={"W-L%": "W/L%"},inplace=True)
    dropList=[]
    for i in range(_df.shape[0]):
        row=_df.iloc[i]
        if row['team']==row['W/L%']:
            dropList.append(i)
    _df=_df.drop(dropList)

    _df['team'] = _df['team'].str.replace('[\w.]* ','')
    _df['team'] = _df['team'].str.replace('+','')
    _df = _df.astype({'team': str,'W/L%': float})
    
    merge=pd.merge(team,_df,'outer', on = 'team')
    merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})

    return merge[['W/L%']]

In [33]:
nhl_df()

                            W/L%
Metropolitan area
Boston                  0.714286
Buffalo                 0.357143
Calgary                 0.513889
Chicago                 0.458333
Columbus                0.600000
Dallas–Fort Worth       0.567568
Denver                  0.589041
Detroit                 0.434783
Edmonton                0.473684
Las Vegas               0.680000
Los Angeles             0.622895
Miami–Fort Lauderdale   0.594595
Minneapolis–Saint Paul  0.633803
Montreal                0.420290
Nashville               0.746479
New York City           0.518201
Ottawa                  0.394366
Philadelphia            0.617647
Phoenix                 0.414286
Pittsburgh              0.618421
Raleigh                 0.507042
San Francisco Bay Area  0.625000
St. Louis               0.578947
Tampa Bay Area          0.701299
Toronto                 0.653333
Vancouver               0.436620
Washington, D.C.        0.653333
Winnipeg                0.722222

In [34]:
nba_df()

                          W/L%
Metropolitan area
Atlanta                 0.2930
Boston                  0.6710
Charlotte               0.4390
Chicago                 0.3290
Cleveland               0.6100
Dallas–Fort Worth       0.2930
Denver                  0.5610
Detroit                 0.4760
Houston                 0.7930
Indianapolis            0.5850
Los Angeles             0.4695
Memphis                 0.2680
Miami–Fort Lauderdale   0.5370
Milwaukee               0.5370
Minneapolis–Saint Paul  0.5730
New Orleans             0.5850
New York City           0.3475
Oklahoma City           0.5850
Orlando                 0.3050
Philadelphia            0.6340
Phoenix                 0.2560
Portland                0.5980
Sacramento              0.3290
Salt Lake City          0.5850
San Antonio             0.5730
San Francisco Bay Area  0.7070
Toronto                 0.7200
Washington, D.C.        0.5240

In [35]:
mlb_df()

                         W/L%
Metropolitan area
Atlanta                 0.556
Baltimore               0.290
Boston                  0.667
Chicago                 0.483
Cincinnati              0.414
Cleveland               0.562
Dallas–Fort Worth       0.414
Denver                  0.558
Detroit                 0.395
Houston                 0.636
Kansas City             0.358
Los Angeles             0.529
Miami–Fort Lauderdale   0.391
Milwaukee               0.589
Minneapolis–Saint Paul  0.481
New York City           0.546
Philadelphia            0.494
Phoenix                 0.506
Pittsburgh              0.509
San Diego               0.407
San Francisco Bay Area  0.525
Seattle                 0.549
St. Louis               0.543
Tampa Bay Area          0.556
Toronto                 0.451
Washington, D.C.        0.506

In [36]:
nfl_df()

                          W/L%
Metropolitan area
Atlanta                 0.4380
Baltimore               0.6250
Boston                  0.6880
Buffalo                 0.3750
Charlotte               0.4380
Chicago                 0.7500
Cincinnati              0.3750
Cleveland               0.4690
Dallas–Fort Worth       0.6250
Denver                  0.3750
Detroit                 0.3750
Green Bay               0.4060
Houston                 0.6880
Indianapolis            0.6250
Jacksonville            0.3130
Kansas City             0.7500
Los Angeles             0.7815
Miami–Fort Lauderdale   0.4380
Minneapolis–Saint Paul  0.5310
Nashville               0.5630
New Orleans             0.8130
New York City           0.2815
Philadelphia            0.5630
Phoenix                 0.1880
Pittsburgh              0.5940
San Francisco Bay Area  0.2500
Seattle                 0.6250
Tampa Bay Area          0.3130
Washington, D.C.        0.4380

In [37]:
# test
merge_nfl_nba=pd.merge(nfl_df(),nba_df(),'inner', on = ['Metropolitan area'])
# merge_nfl_mlb=pd.merge(nfl_df(),mlb_df(),'inner', on = ['Metropolitan area'])

In [38]:
merge_nfl_mlb=merge_nfl_nba
print(merge_nfl_mlb.shape)
merge_nfl_mlb

(19, 2)

                        W/L%_x  W/L%_y
Metropolitan area
Atlanta                 0.4380  0.2930
Boston                  0.6880  0.6710
Charlotte               0.4380  0.4390
Chicago                 0.7500  0.3290
Cleveland               0.4690  0.6100
Dallas–Fort Worth       0.6250  0.2930
Denver                  0.3750  0.5610
Detroit                 0.3750  0.4760
Houston                 0.6880  0.7930
Indianapolis            0.6250  0.5850
Los Angeles             0.7815  0.4695
Miami–Fort Lauderdale   0.4380  0.5370
Minneapolis–Saint Paul  0.5310  0.5730
New Orleans             0.8130  0.5850
New York City           0.2815  0.3475
Philadelphia            0.5630  0.6340
Phoenix                 0.1880  0.2560
San Francisco Bay Area  0.2500  0.7070
Washington, D.C.        0.4380  0.5240

In [39]:
test=pd.merge(nfl_df(),nfl_df(),'inner', on = ['Metropolitan area'])
merge_nfl_mlb=test

In [40]:
stats.ttest_ind(merge_nfl_mlb['W/L%_x'],merge_nfl_mlb['W/L%_y'])[1]

1.0

In [41]:
def create_df(sport):
    if sport =='NFL':
        return nfl_df()
    elif sport =='NBA':
        return nba_df()
    elif sport =='NHL':
        return nhl_df()
    elif sport =='MLB':
        return mlb_df()
    else:
        print("ERROR with intput!")

In [42]:
for i in sports:
    for j in sports:
        if i !=j :
            merge=pd.merge(create_df(i),create_df(j),'inner', on = ['Metropolitan area'])
            p_values.loc[i, j]=stats.ttest_rel(merge['W/L%_x'],merge['W/L%_y'])[1]

In [43]:
p_values

          NFL       NBA       NHL       MLB
NFL       NaN  0.937509  0.030318  0.803459
NBA  0.937509       NaN  0.022386  0.949566
NHL  0.030318  0.022386       NaN  0.000703
MLB  0.803459  0.949566  0.000703       NaN

In [44]:
assert abs(p_values.loc["NBA", "NHL"] - 0.02) <= 1e-2, "The NBA-NHL p-value should be around 0.02"
assert abs(p_values.loc["MLB", "NFL"] - 0.80) <= 1e-2, "The MLB-NFL p-value should be around 0.80"

### answer

In [45]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

cities = pd.read_html("assets/wikipedia_data.html")[1]
cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]
cities.rename(columns={"Population (2016 est.)[8]": "Population"},
              inplace=True)
cities['NFL'] = cities['NFL'].str.replace(r"\[.*\]", "")
cities['MLB'] = cities['MLB'].str.replace(r"\[.*\]", "")
cities['NBA'] = cities['NBA'].str.replace(r"\[.*\]", "")
cities['NHL'] = cities['NHL'].str.replace(r"\[.*\]", "")


def nhl_df():
    Big4='NHL'
    team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
    team['Metropolitan area']=cities['Metropolitan area']
    team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
    team=pd.merge(team,cities,how='left',on = 'Metropolitan area').iloc[:,1:4]
    team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
    team['team']=team['team'].str.replace('[\w.]*\ ','')
    
    _df=pd.read_csv("assets/"+str.lower(Big4)+".csv")
    _df = _df[_df['year'] == 2018]
    _df['team'] = _df['team'].str.replace(r'\*',"")
    _df = _df[['team','W','L']]

    dropList=[]
    for i in range(_df.shape[0]):
        row=_df.iloc[i]
        if row['team']==row['W'] and row['L']==row['W']:
            dropList.append(i)
    _df=_df.drop(dropList)

    _df['team'] = _df['team'].str.replace('[\w.]* ','')
    _df = _df.astype({'team': str,'W': int, 'L': int})
    _df['W/L%'] = _df['W']/(_df['W']+_df['L'])
    
    merge=pd.merge(team,_df,'inner', on = 'team')
    merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})  

    return merge[['W/L%']]



def nba_df():
    Big4='NBA'
    team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
    team['Metropolitan area']=cities['Metropolitan area']
    team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
    team=pd.merge(team,cities,how='left',on = 'Metropolitan area').iloc[:,1:4]
    team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
    team['team']=team['team'].str.replace('[\w.]*\ ','')

    _df=pd.read_csv("assets/"+str.lower(Big4)+".csv")
    _df = _df[_df['year'] == 2018]
    _df['team'] = _df['team'].str.replace(r'[\*]',"")
    _df['team'] = _df['team'].str.replace(r'\(\d*\)',"")
    _df['team'] = _df['team'].str.replace(r'[\xa0]',"")
    _df = _df[['team','W/L%']]
    _df['team'] = _df['team'].str.replace('[\w.]* ','')
    _df = _df.astype({'team': str,'W/L%': float})
    
    merge=pd.merge(team,_df,'outer', on = 'team')
    merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})
    return merge[['W/L%']]



def mlb_df(): 
    Big4='MLB'
    team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
    team['Metropolitan area']=cities['Metropolitan area']
    team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
    team=pd.merge(team,cities,how='left',on = 'Metropolitan area').iloc[:,1:4]
    team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
    team['team']=team['team'].str.replace('\ Sox','Sox')
    team['team']=team['team'].str.replace('[\w.]*\ ','')

    _df=pd.read_csv("assets/"+str.lower(Big4)+".csv")
    _df = _df[_df['year'] == 2018]
    _df['team'] = _df['team'].str.replace(r'[\*]',"")
    _df['team'] = _df['team'].str.replace(r'\(\d*\)',"")
    _df['team'] = _df['team'].str.replace(r'[\xa0]',"")
    _df = _df[['team','W-L%']]
    _df.rename(columns={"W-L%": "W/L%"},inplace=True)
    _df['team']=_df['team'].str.replace('\ Sox','Sox')
    _df['team'] = _df['team'].str.replace('[\w.]* ','')
    _df = _df.astype({'team': str,'W/L%': float})
    
    merge=pd.merge(team,_df,'outer', on = 'team')
    merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})

    return merge[['W/L%']]

def nfl_df(): 
    Big4='NFL'
    team = cities[Big4].str.extract('([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)([A-Z]{0,2}[a-z0-9]*\ [A-Z]{0,2}[a-z0-9]*|[A-Z]{0,2}[a-z0-9]*)')
    team['Metropolitan area']=cities['Metropolitan area']
    team = pd.melt(team, id_vars=['Metropolitan area']).drop(columns=['variable']).replace("",np.nan).replace("—",np.nan).dropna().reset_index().rename(columns = {"value":"team"})
    team=pd.merge(team,cities,how='left',on = 'Metropolitan area').iloc[:,1:4]
    team = team.astype({'Metropolitan area': str, 'team': str, 'Population': int})
    team['team']=team['team'].str.replace('[\w.]*\ ','')
    
    _df=pd.read_csv("assets/"+str.lower(Big4)+".csv")
    _df = _df[_df['year'] == 2018]
    _df['team'] = _df['team'].str.replace(r'[\*]',"")
    _df['team'] = _df['team'].str.replace(r'\(\d*\)',"")
    _df['team'] = _df['team'].str.replace(r'[\xa0]',"")
    _df = _df[['team','W-L%']]
    _df.rename(columns={"W-L%": "W/L%"},inplace=True)
    dropList=[]
    for i in range(_df.shape[0]):
        row=_df.iloc[i]
        if row['team']==row['W/L%']:
            dropList.append(i)
    _df=_df.drop(dropList)

    _df['team'] = _df['team'].str.replace('[\w.]* ','')
    _df['team'] = _df['team'].str.replace('+','')
    _df = _df.astype({'team': str,'W/L%': float})
    
    merge=pd.merge(team,_df,'outer', on = 'team')
    merge=merge.groupby('Metropolitan area').agg({'W/L%': np.nanmean, 'Population': np.nanmean})

    return merge[['W/L%']]

def create_df(sport):
    if sport =='NFL':
        return nfl_df()
    elif sport =='NBA':
        return nba_df()
    elif sport =='NHL':
        return nhl_df()
    elif sport =='MLB':
        return mlb_df()
    else:
        print("ERROR with intput!")


def sports_team_performance():
    # Note: p_values is a full dataframe, so df.loc["NFL","NBA"] should be the same as df.loc["NBA","NFL"] and
    # df.loc["NFL","NFL"] should return np.nan
    sports = ['NFL', 'NBA', 'NHL', 'MLB']
    p_values = pd.DataFrame({k:np.nan for k in sports}, index=sports)
    
    for i in sports:
        for j in sports:
            if i !=j :
                merge=pd.merge(create_df(i),create_df(j),'inner', on = ['Metropolitan area'])
                p_values.loc[i, j]=stats.ttest_rel(merge['W/L%_x'],merge['W/L%_y'])[1]

    
    assert abs(p_values.loc["NBA", "NHL"] - 0.02) <= 1e-2, "The NBA-NHL p-value should be around 0.02"
    assert abs(p_values.loc["MLB", "NFL"] - 0.80) <= 1e-2, "The MLB-NFL p-value should be around 0.80"
    return p_values

In [46]:
sports_team_performance()

          NFL       NBA       NHL       MLB
NFL       NaN  0.937509  0.030318  0.803459
NBA  0.937509       NaN  0.022386  0.949566
NHL  0.030318  0.022386       NaN  0.000703
MLB  0.803459  0.949566  0.000703       NaN